* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  background-color: rgb(27, 27, 50);
}

#header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgb(46, 46, 97);
  padding: 10px 15px;
  align-items: center;
  border-radius: 5px;
}
#nav-links a {
  margin: 0 10px;
}

#nav-links a:hover {
  color: rgb(255, 242, 0);
  cursor: pointer;
}

/* SEARCH BAR */
#search {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 5vh;
  background-color: rgb(46, 46, 97);
  padding: 10px 15px;
  text-align: center;
  border-radius: 2px;
}

/* JOBS STYLING */
#mainComponents {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 5px;
}
#mainComponentsB {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}

#jobs-container {
  display: flex;
  flex-wrap: wrap;
}
.jobs {
  flex-grow: 1;
  /* max-width: 33%; */
  flex-basis: calc(33.33% - 10px);
  list-style-type: none;
  background-color: rgb(46, 46, 97);
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
.jobs .job-image {
  width: 50%;
  border-radius: 5px;
}
.jobs h3 {
  margin-bottom: 10px;
  color: rgb(255, 255, 181);
}
.jobs .truncate {
  font-size: 1.5vh;
  line-height: 3vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.jobs .sub-details {
  display: flex;
}

.jobs .sub-details p {
  background-color: rgb(74, 74, 127);
  font-size: 1.5vh;
  margin: 5px 5px 5px 0;
  padding: 5px;
  border-radius: 3px;
}
.jobs .read-more-btn {
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 1.5vh;
  /* background-color: blue; */
  color: rgb(46, 46, 97);
}

/* CATEGORY FILTER STYLING */
#category-filter {
  height: 100px;
  border-radius: 5px;
  background-color: rgb(46, 46, 97);
}

/* JOB DETAILS STYLING */
.job-details {
  border-radius: 5px;
  background-color: rgb(46, 46, 97);
  /* padding: 10px; */
  position: relative;
}
.job-details .disabler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3%;
  top: 2%;
  width: 3vh;
  height: 3vh;
  background-color: rgb(16, 16, 16);
  padding: 5px;
  border-radius: 50%;
  color: rgb(212, 212, 212);
  cursor: pointer;
}
.job-details .jobselect-image {
  width: 100%;
}
/* JOBSLIST STYLING*/

.jobslist {
  background-color: rgb(217, 217, 222);
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.jobslist h3 {
  color: rgb(46, 46, 97);
  cursor: pointer;
  font-size: 1.5vh;
}
#footer {
  background-color: rgb(46, 46, 97);
  padding: 10px;
  text-align: center;
  color: rgb(181, 181, 203);
  font-size: 1vh;
  letter-spacing: 0.1vh;
}
